*.pt
*.log
*.tar
*.pickle
*.npz
*.pyc
*.zip
**/__pycache__
/archive
**/.ipynb_checkpoints
**/.virtual_documents
**/.idea
**/src/modules/model_visualiser/output/
/.idea
wandb/

/src/datasets/
/src/datasets/HCLASS_T10_65/
/src/datasets/VLM_DOTA_HCLASS_T10_65_7901.json

/src/datasets/VLM_DOTA_AS25_MEDI_HCLASS_T10_65_7901.json
/src/datasets/VLM_DOTA_AS50_MEDI_HCLASS_T10_65_7901.json
/src/datasets/VLM_DOTA_AS75_MEDI_HCLASS_T10_65_7901.json
/src/datasets/AS25_MEDI_HCLASS_T10_65/
/src/datasets/AS50_MEDI_HCLASS_T10_65/
/src/datasets/AS75_MEDI_HCLASS_T10_65/

/src/datasets/VLM_DOTA_AS25_RAND_HCLASS_T10_65_7901.json
/src/datasets/VLM_DOTA_AS50_RAND_HCLASS_T10_65_7901.json
/src/datasets/VLM_DOTA_AS75_RAND_HCLASS_T10_65_7901.json
/src/datasets/AS25_RAND_HCLASS_T10_65/
/src/datasets/AS50_RAND_HCLASS_T10_65/
/src/datasets/AS75_RAND_HCLASS_T10_65/

/src/datasets/VLM_DOTA_AS25_UNIF_HCLASS_T10_65_7901.json
/src/datasets/VLM_DOTA_AS50_UNIF_HCLASS_T10_65_7901.json
/src/datasets/VLM_DOTA_AS75_UNIF_HCLASS_T10_65_7901.json
/src/datasets/AS25_UNIF_HCLASS_T10_65/
/src/datasets/AS50_UNIF_HCLASS_T10_65/
/src/datasets/AS75_UNIF_HCLASS_T10_65/

/src/datasets/TEST_DATASET/
/Src/datasets/VLM_DOTA_CLS0_1_TEST_DATASET_20/

